/* ==========================================================================
Reset Styles
========================================================================== */
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html, body { margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
a:focus { outline: thin dotted #333333; outline: 5px auto -webkit-focus-ring-color; outline-offset: -2px; }
a:hover, a:active { outline: 0; }
img { max-width: 100%; height: auto; border: 0;  -ms-interpolation-mode: bicubic; }

/* ==========================================================================
Type Styles
========================================================================== */
body {
  color: #dd4197;
  font-family: "museo-slab", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: normal;
  font-weight: 300;
}

p {
  font-size: 0.875em;
  line-height: 1.43;
  margin: 0 0 1.43em 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  font-weight: 700;
  color: #dd4197;
  text-rendering: optimizelegibility;
}

h1 {
  font-size: 1.5em;
  line-height: 1.667;
}

h2 {
  font-size: 1.125em;
  line-height: 2.222;
}

h3 {
  font-size: 1em;
  line-height: 1.875;
}

ul, ol {
  font-size: 0.875em;
  margin: 0 0 1.43em 1.5em;
  padding: 0;
}

ul ul, ul ol, ol ol, ol ul {
  margin-bottom: 0;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li {
  line-height: 1.43;
}

strong {
  font-weight: bold;
  font-weight: 700;
}

em {
  font-style: italic;
}

/* ==========================================================================
Site Styles
========================================================================== */
body {
  background-color: #fbf4f7;
  background-image: -webkit-linear-gradient(0, transparent 50%, white 50%);
  background-image:    -moz-linear-gradient(0, transparent 50%, white 50%);
  background-image:     -ms-linear-gradient(0, transparent 50%, white 50%);
  background-image:      -o-linear-gradient(0, transparent 50%, white 50%);
  background-image:         linear-gradient(0, transparent 50%, white 50%);
  background-size: 54px;
}

#container {
  background: #fff;
  -webkit-border-radius: 0 0 3px 3px;
     -moz-border-radius: 0 0 3px 3px;
      -ms-border-radius: 0 0 3px 3px;
       -o-border-radius: 0 0 3px 3px;
          border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  margin: 0 auto 3.75em auto;
  padding: 0 5em;
  width: 58.75em; /* 940px */
}

#container section {
  zoom: 1;
  padding-top: 5em;
}

#container section:before, #container section:after { content: ""; display: table; }
#container section:after { clear: both; }

#container .portfolio .slide-holder {
  background: #eee;
  width: 48.75em; /* 780px */
}

#container .last {
  margin-bottom: 5em;
}

a {
  color: #dd4197;
  padding: 2px 4px;
  text-decoration: none;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
      -ms-border-radius: 2px;
       -o-border-radius: 2px;
          border-radius: 2px;
  -webkit-transition-property: all;
     -moz-transition-property: all;
      -ms-transition-property: all;
       -o-transition-property: all;
          transition-property: all;
  -webkit-transition-duration: 0.15s;
     -moz-transition-duration: 0.15s;
      -ms-transition-duration: 0.15s;
       -o-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
     -moz-transition-timing-function: linear;
      -ms-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-delay: 0;
     -moz-transition-delay: 0;
      -ms-transition-delay: 0;
       -o-transition-delay: 0;
          transition-delay: 0;
}

a:hover {
  background: #dd4197;
  color: white;
}

header {
  zoom: 1;
  margin: 0 0 3.625em 0;
  position: absolute;
  width: 100%;
}

header:before, header:after { content: ""; display: table; }
header:after { clear: both; }

header .center {
  background: white;
  margin: 0 auto;
  padding: 0 5em;
  width: 58.75em; /* 940px */
}

header a.logo {
  background: url("../img/rochelle-hickey-design-logo.png") no-repeat center center;
  display: block;
  height: 163px;
  width: 134px;
  float: left;
  margin: 2em 0 0 0;
  padding: 0;
  text-indent: -9999px;
  overflow: hidden;
}

header a.horizontal-logo {
  display: none;
  opacity: 0;
}

header nav {
  float: right;
  font-size: 1.25em;
  margin-top: 7em;
}

header nav ul {
  list-style-type: none;
  margin: 0;
}

header nav ul li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  padding: 0 0 0 1.25em;
}

header.short {
  background: #fff;
  height: 4.9375em;
  margin: 0;
  position: fixed;
  width: 100%;
  z-index: 1000;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
     -moz-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  -webkit-transition: height 0.05s ease-in-out 0;
     -moz-transition: height 0.05s ease-in-out 0;
      -ms-transition: height 0.05s ease-in-out 0;
       -o-transition: height 0.05s ease-in-out 0;
          transition: height 0.05s ease-in-out 0;
}

header.short a.horizontal-logo {
  background: url("../img/rochelle-hickey-design-logo-horizontal.png") no-repeat center center;
  display: block;
  float: left;
  height: 3.9375em;
  margin: 0.5em 0;
  opacity: 1;
  overflow: hidden;
  text-indent: -9999px;
  width: 20.75em;
}

header.short a.logo {
  display: none;
}

header.short nav {
  margin-top: 2.3125em;
}

#container #intro {
  padding-top: 15.875em; /* 254px */
}

#container #intro p {
  color: #898c91;
  margin-bottom: 0.75em;
}

#container #intro p.lead {
  font-weight: bold;
}

#container #intro ul {
  list-style-type: none;
  margin-left: 0;
}

#container #intro ul li {
  font-size: 1em;
  margin: 0 0 0.125em 0;
}

#container #intro ul li span.contact-label {
  color: #b1b3b6;
  font-size: 0.625em;
  font-weight: bold;
  padding-right: 0.375em;
  text-transform: uppercase;
}

footer {
  height: 6.25em;
  text-align: center;
  width: 100%;
}

footer p {
  background: url("../img/footer-ornament.png") no-repeat bottom center;
  font-size: 0.75em;
  padding-bottom: 3em;
}