.headline--primary {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px;
  color: #6A5D93;
}

.headline--secondary {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0;
  color: #0F6489;
}

.link {
  color: #AA84A9;
  font-weight: 500;
}

button a {
  text-decoration: none;
  color: #FFF;
}

.list-navigation a {
  text-decoration: none;
  color: #77BDB5;
  padding: 8px 16px;
}
.list-navigation a:hover {
  color: #FFF;
  background: #77BDB5;
}
.list-navigation a:active {
  color: #FFF;
  background: #77BDB5;
}

.page-selected a {
  color: #FFF;
  background: #77BDB5;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  margin: 40px auto 20px auto;
  text-align: center;
}

main {
  width: 85%;
  margin: 0 auto;
}

nav {
  width: 100%;
  margin: 0;
}

section ul {
  padding-bottom: 15px;
}

footer {
  width: 85%;
  padding: 20px 10px 10px 10px;
  margin: 40px auto 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #77BDB5;
}

/* ------------------------------------- */
/*           COMPONENTS INDEX            */
/* ------------------------------------- */
h1 {
  font-family: "Meddon", cursive;
  font-size: 3rem;
  line-height: 3.4rem;
  color: #6A5D93;
}

h2 {
  font-family: "Meddon", cursive;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #0F6489;
  margin: 60px 0 10px 0;
}

h3 {
  font-family: "Halant", serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #0F6489;
  margin: 20px 0 0 0;
}

p,
li {
  font-family: "Halant", serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #29291F;
}

p {
  margin: 20px 0;
}

.logo-title {
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  padding-top: 10px;
  margin: 6px auto 40px auto;
  border-top: 1px solid #29291F;
  width: 80%;
}

.job-dates {
  font-style: italic;
  font-size: 1rem;
  padding-top: 0;
  margin: 0;
}

.card p {
  margin: 0;
}

.contact-home-icon-name {
  font-family: "Meddon", cursive;
  line-height: 0;
  color: #AA84A9;
}

.web-project-description {
  font-size: 1rem;
  font-style: italic;
  line-height: 1.4rem;
  padding: 10px 0 20px 0;
}

.breadcrumb {
  font-size: 0.9rem;
  line-height: 1.8rem;
  font-style: italic;
}

.copyright {
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #0F6489;
}

.form__input[placeholder] {
  font-family: "Halant", serif;
}

.navigation,
.sub-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #77BDB5;
  border-bottom: 1px solid #77BDB5;
}

.sub-navigation {
  border-top: none;
}

.nav,
.sub-nav {
  padding: 10px 0;
}

button {
  padding: 10px;
  margin: 8px 0;
  text-align: center;
  border: none;
  width: 100%;
  color: #FFF;
  background: #AA84A9;
  text-transform: uppercase;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #AA84A9;
}

.contact a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.card {
  background: #CFECCE;
  padding: 5px 20px;
  margin: 20px 0;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  display: block;
  text-decoration: none;
  padding: 0;
}

.web-project-title-description {
  width: 85%;
  height: auto;
  min-height: 100px;
  margin: 0 auto;
}

.profile-image {
  margin: 0 30px 0 0;
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 0;
  margin: 0 auto;
  transition: filter 1s;
}

.thumbnail:hover {
  filter: grayscale(0);
}

.project-header-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.project-page-image {
  width: 100%;
  height: auto;
}

.black-and-white {
  filter: grayscale(100%);
}

.contact svg {
  height: 100px;
  margin-right: 20px;
  fill: #CFECCE;
}
.contact svg:active {
  fill: #FFF;
}

.contact a:hover path {
  fill: #FFF;
}

.contact svg circle {
  fill: #77BDB5;
}

.footer-contact-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
}

.footer-svg {
  text-decoration: none;
  width: 50%;
  max-width: 75px;
  fill: #FFF;
  transition: transform 0.5s;
}

.footer-svg circle {
  fill: #6A5D93;
}

.footer-svg:hover {
  transform: rotate(0.1turn) scale(1.1);
}

.footer-svg:active {
  transform: rotate(0.1turn);
}

.footer-contact {
  width: 50%;
  height: auto;
}

.skills {
  margin: 20px auto;
}

#overlay {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  background: #CFECCE;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

/*# sourceMappingURL=styles.css.map */
