.headline--primary {
  font-size: 2rem;
  font-weight: 700;
  margin: 40px;
  color: #A57B86;
}

.headline--secondary {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 20px 0;
  color: #6C2E3F;
}

.link {
  color: #7FBDB7;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px dotted #7FBDB7;
}

.list-navigation a {
  text-decoration: none;
  color: #EBA2A0;
  padding: 8px 16px;
}
.list-navigation a:hover {
  color: #FFF;
  background: #EBA2A0;
}
.list-navigation a:active {
  color: #FFF;
  background: #EBA2A0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  margin: 40px auto 20px auto;
  text-align: center;
}

main {
  width: 85%;
  margin: 0 auto;
}

nav {
  width: 100%;
  margin: 0;
}

section ul {
  padding-bottom: 15px;
}

footer {
  width: 85%;
  padding: 10px;
  margin: 40px auto 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid #6C2E3F;
}

/* ------------------------------------- */
/*           COMPONENTS INDEX            */
/* ------------------------------------- */
h1 {
  font-family: "Meddon", cursive;
  font-size: 3rem;
  line-height: 3.4rem;
  color: #A57B86;
}

h2 {
  font-family: "Meddon", cursive;
  font-size: 1.8rem;
  line-height: 2rem;
  color: #6C2E3F;
  margin: 60px 0 10px 0;
}

h3 {
  font-family: "Halant", serif;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #6C2E3F;
  margin: 20px 0 0 0;
}

p,
li {
  font-family: "Halant", serif;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 1.8rem;
  color: #382929;
}

p {
  margin: 20px 0;
}

.logo-title {
  font-size: 1.1rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  padding-top: 10px;
  margin: 6px auto 40px auto;
  border-top: 1px solid #382929;
  width: 80%;
}

.job-dates {
  font-style: italic;
  font-size: 1rem;
  padding-top: 0;
  margin: 0;
}

.card p {
  margin: 0;
}

.web-project-description {
  font-style: italic;
}

.copyright {
  font-style: italic;
  font-size: 0.9rem;
  line-height: 1rem;
  color: #6C2E3F;
}

.form__input[placeholder] {
  font-family: "Halant", serif;
}

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid #EBA2A0;
  border-bottom: 1px solid #EBA2A0;
}

.nav {
  padding: 10px 0;
}

button {
  padding: 10px;
  margin: 8px 0;
  text-align: center;
  border: none;
  width: 100%;
  color: #FFF;
  background: #7FBDB7;
  text-transform: uppercase;
}

.card {
  background: #EDE0DD;
  padding: 5px 20px;
  margin: 20px 0;
}

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project {
  display: block;
  text-decoration: none;
}

.profile-image {
  margin: 0 30px 0 0;
  display: inline-block;
  width: 100px;
  height: auto;
}

.thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.footer-contact-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-contact {
  width: 6%;
  height: auto;
}

.contact-footer-icon {
  fill: #A57B86;
}

/*# sourceMappingURL=styles.css.map */
