// -------------------------------------
//        NAV ITEMS PLACEHOLDER
// -------------------------------------

%nav__item--link {
  text-decoration: none;
  color: $font-nav-color;
  padding: 10px 16px;
  &:hover {
    color: $white;
    background: $nav-bg-color;
  }
  &:active {
    color: $white;
    background: $nav-bg-color;
  }
}

%nav__item--selected {
  color: $white;
  background: $nav-bg-color;
}