// -------------------------------------
//        NAV ITEMS PLACEHOLDER
// -------------------------------------

%nav__item--link {
  display: block;
  text-decoration: none;
  color: $font-nav-color;
  padding: 10px 16px;
  &:hover {
    color: $font-nav-hover-color;
  }
  &:active {
    color: $font-nav-hover-color;
  }
}

%nav__item-- {
  display: inline-block;
  &:hover {
    background: $nav-bg-color;
  }
  &:active {
    background: $nav-bg-color;
  }
}

%nav__item--selected {
  color: $white;
  background: $nav-bg-color;
}

%nav__item--selected-a {
  color: $white;
}