// -------------------------------------
//           VARIABLES PARTIAL
// -------------------------------------


// ---------------- FONTS --------------

$font-stack: 'Halant', serif;
$font-stack-header: 'Meddon', cursive;

$font-weight-regular : 500;
$font-weight-bold    : 700;

$primary-hdln-size   : 2.4rem;
$secondary-hdln-size : 1.8rem;
$tertiary-hdln-size  : 1.3rem;
$copy-size           : 1.3rem;
$date-size           : 1rem;
$copyright-size      : .9rem;

$primary-hdln-line-height   : 2.8rem;
$secondary-hdln-line-height : 2rem;
$tertiary-hdln-line-height  : 1.8rem;
$copy-size-line-height      : 1.8rem;
$date-size-line-height      : 1.2rem;
$copyright-line-height      : 1rem;


// ------------- BREAKPOINTS -----------

$media-screen-sm  : 320px;
$media-screen-med : 728px;
$media-screen-lg  : 1024px;


// --------------- COLORS --------------

$thistle     : #EDE0DD;
$dark-salmon : #EBA2A0;
$cadet-blue  : #7FBDB7;
$rosy-brown  : #A57B86;
$siena       : #6C2E3F;
$brown       : #382929;
$white       : #FFF;

$cyan-light  : lighten(#64ddfb, 10%);
$violet-dark : darken(#927bc1, 10%);


$font-color           : $brown;
$font-nav-color       : $dark-salmon;
$footer-bg-color      : $siena;

$primary-hdln-color   : $rosy-brown;
$secondary-hdln-color : $siena;
$tertiary-hdln-color  : $siena;
$footer-text-color      : $white;

$link-color           : $cadet-blue;
$button-color         : $cadet-blue;
$button-text-color    : $white;
$card-color           : $thistle;
