// -------------------------------------
//           VARIABLES PARTIAL
// -------------------------------------


// ---------------- FONTS --------------

$font-stack: 'Halant', serif;
$font-stack-header: 'Meddon', cursive;

$font-weight-regular : 500;
$font-weight-bold    : 700;

$primary-hdln-size   : 3rem;
$secondary-hdln-size : 1.8rem;
$tertiary-hdln-size  : 1.3rem;
$copy-size           : 1.3rem;
$date-size           : 1rem;
$copyright-size      : .9rem;
$logo-title-size     : 1.1rem;
$description-size    : 1rem;
$breadcrumb-size     : .9rem;

$primary-hdln-line-height   : 3.4rem;
$secondary-hdln-line-height : 2rem;
$tertiary-hdln-line-height  : 1.8rem;
$copy-size-line-height      : 1.8rem;
$date-size-line-height      : 1.2rem;
$copyright-line-height      : 1rem;
$logo-title-line-height     : 1.4rem;
$description-line-height    : 1.4rem;
$breadcrumb-line-height     : 1.8rem;


// ------------- BREAKPOINTS -----------

$media-screen-sm  : 320px;
$media-screen-med : 728px;
$media-screen-lg  : 1024px;


// --------------- COLORS --------------

$thistle         : #EDE0DD;
$dark-salmon     : #EBA2A0;
$succulent-green : #92A67F;
$rosy-brown      : #A57B86;
$siena           : #6C2E3F;
$brown           : #382929;
$white           : #FFF;

$font-color           : $brown;
$font-nav-color       : $dark-salmon;
$breadcrumb-color     : $thistle;
$footer-line-color    : $siena;
$footer-svg-color     : $rosy-brown;

$primary-hdln-color   : $rosy-brown;
$secondary-hdln-color : $siena;
$tertiary-hdln-color  : $siena;
$footer-text-color    : $siena;

$link-color           : $succulent-green;
$button-color         : $succulent-green;
$button-text-color    : $white;
$card-color           : $thistle;
