// -------------------------------------
//           VARIABLES PARTIAL
// -------------------------------------


// ---------------- FONTS --------------

$font-stack: 'Halant', serif;
$font-stack-header: 'Meddon', cursive;

$font-weight-regular : 500;
$font-weight-bold    : 700;

$primary-hdln-size   : 3rem;
$secondary-hdln-size : 1.8rem;
$tertiary-hdln-size  : 1.3rem;
$copy-size           : 1.3rem;
$date-size           : 1rem;
$copyright-size      : .9rem;
$logo-title-size     : 1.1rem;
$description-size    : 1rem;
$breadcrumb-size     : .9rem;

$primary-hdln-line-height   : 3.4rem;
$secondary-hdln-line-height : 2rem;
$tertiary-hdln-line-height  : 1.8rem;
$copy-size-line-height      : 1.8rem;
$date-size-line-height      : 1.2rem;
$contact-line-height        : 0;
$copyright-line-height      : 1rem;
$logo-title-line-height     : 1.4rem;
$description-line-height    : 1.4rem;
$breadcrumb-line-height     : 1.8rem;


// ------------- BREAKPOINTS -----------

$media-screen-sm  : 320px;
$media-screen-med : 728px;
$media-screen-lg  : 1024px;


// --------------- COLORS --------------

$thistle      : #CFECCE;
$evergreen    : #77BDB5;
$rosy-pink    : #AA84A9;
$aster-purple : #6A5D93;
$sunset-blue  : #0F6489;
$brown        : #29291F;
$white        : #FFF;

$primary-hdln-color        : $aster-purple;
$secondary-hdln-color      : $sunset-blue;
$tertiary-hdln-color       : $sunset-blue;
$font-color                : $brown;
$font-nav-color            : $evergreen;
$contact-name-color        : $rosy-pink;
$button-text-color         : $white;
$breadcrumb-color          : $thistle;
$footer-text-color         : $sunset-blue;

$link-color                : $rosy-pink;

$contact-svg-color         : $thistle;
$contact-circle-color      : $evergreen;
$contact-border-color      : $rosy-pink;
$contact-svg-hover-color   : $white;

$footer-svg-color          : $white;
$footer-svg-bg-color       : $aster-purple;
$footer-svg-hover-color    : $aster-purple;

$header-bg-color           : $white;
$nav-bg-color              : $evergreen;
$contact-bg-color          : $thistle;
$button-color              : $rosy-pink;
$card-color                : $thistle;

$nav-border-color          : $evergreen;
$footer-line-color         : $evergreen;

$overlay-color             : $white;
$overlay-bg-color          : $thistle;

