/* ==========================================================================
Reveal Modal Styles
========================================================================== */

.reveal-modal-bg {
  position: fixed;
  height: 100%;
  width: 100%;
  background: $darkest;
  background: rgba($darkest, .5);
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
}

.reveal-modal {
  background: $lightest;
  visibility: hidden;
  display: none;
  top: 100px;
  left: 50%;
  margin-left: -260px;
  width: 520px;
  position: absolute;
  z-index: 3000;
  padding: 30px;
  @include box-shadow(0 0 10px rgba($darkest, .4));

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }

  .close-reveal-modal {
    font-size: 16px;
    line-height: .5;
    position: absolute;
    top: 8px;
    right: 11px;
    color: $accent;
    font-weight: bold;
    cursor: pointer;
  }
}