/* ==========================================================================
Site Styles
========================================================================== */

body {
  background-color: $background;
  @include background-image(linear-gradient(0, transparent 50%, $lightest 50%));
  background-size: 54px;
}

div#container {
  background: $lightest;
  @include border-radius(0 0 3px 3px);
  @include box-shadow(0 2px 8px #d8d8d6);
  margin: 0 auto 60px auto;
  padding: 0 80px;
  width: grid-width(12);

  section {
    @include clearfix;
    margin-bottom: 60px;
  }

  section.portfolio {

    div.slide-holder {
      background: #eee;
      width: grid-width(10);
    }
  }

  section.last {
    margin-bottom: 80px;
  }

  section#fake {
    margin: 0;
    padding: 0;
    height: 0;
  }
}

a {
  @include border-radius(2px);
  color: $primary;
  padding: 2px 4px;
  text-decoration: none;
  @include transition(all, 0.15s, linear);

  &:hover {
    background: $primary;
    color: $lightest;
  }
}

header {

  a.logo {
    background: url('../images/rochelle-hickey-design-logo.png') no-repeat bottom center;
    display: block;
    height: 183px;
    margin: 0 auto;
    overflow: hidden;
    text-indent: -9999px;
    width: 134px;
  }

  nav {
    font-size: 20px;
    margin-top: 30px;
    text-align: center;

    ul {
      list-style-type: none;

      li {
        @include inline-block();
        padding: 0 20px;
      }

      li.fake {
        display: none;
      }
    }
  }
}

section#intro {
  p {
    color: darken($accent, 15%);
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 12px;
  }

  p.lead {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    margin-left: 0;

    li {
      font-size: 14px;
      margin: 0 0 4px 0;

      span.contact-label {
        color: $labels;
        font-size: 10px;
        font-weight: bold;
        padding-right: 6px;
        text-transform: uppercase;
      }
    }
  }
}

h2 {
  @include clearfix;

  a.back-to-top {
    float: right;
    font-size: 12px;
    font-weight: normal;
    font-weight: 300;
    line-height: 20px;
    margin-top: 11px;
  }
}

footer {
  height: 100px;
  text-align: center;
  width: 100%;

  p {
    background: url('../images/footer-ornament.png')no-repeat bottom center;
    font-size: 12px;
    padding-bottom: 40px;
  }
}