/* ==========================================================================
Type Styles
========================================================================== */

body {
  color: $baseColor;
  font-family: $textFontFamily;
  font-weight: normal;
  font-weight: 300;
}

p {
  margin: 0 0 $lineHeight 0;
  font-size: $baseFontSize;
  line-height: $lineHeight;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: bold;
  font-weight: 700;
  color: $baseColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1 {
  font-size: 24px;
  line-height: $lineHeight * 2;
}
h2 {
  font-size: 20px;
  line-height: $lineHeight * 2;
}
h3 {
  line-height: $lineHeight * 1.5;
  font-size: 16px;
}
h4, h5, h6 {
  line-height: $lineHeight;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 11px;
}

ul, ol {
  padding: 0;
  margin: 0 0 $lineHeight 25px;
}
ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  line-height: $lineHeight;
}

hr {
  margin: $lineHeight 0;
  border: 0;
  border-top: 1px solid $gray;
  border-bottom: 1px solid $white;
}

strong {
  font-weight: bold;
  font-weight: 700;
}
em {
  font-style: italic;
}

abbr {
  font-size: 90%;
  text-transform: uppercase;
}