// Variables ======================================================================= //

// Colors
$magenta:                     #dd4197;
$lightPink:                   #fbf4f7;
$gray:                        #b1b3b6;
$white:                       #fff;
$black:                       #000;

// Color Scheme
$primary:                     $magenta;
$labels:                      $gray;
$accent:                      $gray;
$bulletNavLight:              lighten($gray, 10%);
$bulletNavDark:               darken($gray, 15%);
$background:                  $lightPink;
$lightest:                    $white;
$darkest:                     $black;

// Typography
$baseFontSize:                14px;
$lineHeight:                  20px;
$baseColor:                   $primary;
$headerFontFamily:            "museo-slab", "Helvetica Neue", Helvetica, sans-serif;
$textFontFamily:              "museo-slab", "Helvetica Neue", Helvetica, sans-serif;

// 12 column 940px grid using Bourbon's grid function ============================== //
$gw-column:                   60px;
$gw-gutter:                   20px;