// -------------------------------------
//                BUTTONS
// -------------------------------------

button {
  padding: 10px;
  margin: 8px 0;
  text-align: center;
  border: none;
  width: 100%;
  color: $button-text-color;
  background: $button-color;
  text-transform: uppercase;
  border: 1px solid transparent;
}

button:hover,
button:active {
  background: linear-gradient(180deg, $button-gradient-top 15%, $button-gradient-bottom 100%);
}

button:focus {
  outline: 2px solid $sunset-blue;
}

.buttonSelected {
  color: $button-text-chosen-color;
  background: $button-chosen-bg-color;
  border: 1px solid $button-chosen-line-color;
}

button a {
  @extend %button-link;
}


// --------- Media Queries -----------
@media (min-width: $media-screen-med) {
  .filter-buttons,
  .project-view-button-container,
  .resume-button-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  button.filter,
  a.project-view-button,
  a.resume-button {
    width: 49%;
  }
}