// -------------------------------------
//              IMAGES
// -------------------------------------

.profile-image {
  margin: 0 30px 0 0;
  display: inline-block;
  width: 100%;
  height: auto;
  max-width: 300px;
}

.thumbnail {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: 50% 0;
  margin: 0 auto;
  transition: filter 1s;
}

.thumbnail:hover {
  filter: grayscale(0);
}

.project-header-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
}

.project-page-image {
  width: 100%;
  height: auto;
}

.black-and-white {
  filter: grayscale(100%);
}

// ---------- Media Queries -------------
@media (min-width: $media-screen-med) {
  .image-and-about-container {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
  }
  .profile-image {
    max-width: 250px;
  }
  .project-page-image {
    width: auto;
    max-width: 650px;
    max-height: 400px;
  }
  .img-center {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

@media (min-width: $media-screen-lg) {
  .project-page-image {
    width: auto;
    max-width: 750px;
    max-height: 500px;
  }
}