// -------------------------------------
//               NAVIGATION
// -------------------------------------

.navigation,
.sub-navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-top: 1px solid $nav-border-color;
  border-bottom: 1px solid $nav-border-color;
}

.sub-navigation {
  border-top: none;
}

.nav,
.sub-nav {
  padding: 10px 0;
}

.list-navigation a {
  @extend %nav__item--link;
}

.page-selected a {
  @extend %nav__item--selected;
}

// ------------ Sticky Header ------------

.scroll-down .sticky-header {
  transition: .5s;
}

.scroll-up .sticky-header {
  position: fixed;
  top: 0;
  transform: none;
  transition: .5s;
  background: $header-bg-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  z-index: 100;
}
