// -------------------------------------
//               NAVIGATION
// -------------------------------------

.navigation {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-top: 1px solid $nav-border-color;
  border-bottom: 1px solid $nav-border-color;
}



.list-navigation a {
  @extend %nav__item--link;
}

.list-navigation {
  @extend %nav__item--;
}

.page-selected {
  @extend %nav__item--selected;
}

.page-selected a {
  @extend %nav__item--selected-a;
}

// ------------ Sticky Header ------------

.scroll-down .sticky-header {
  transition: .5s;
}

.scroll-up .sticky-header {
  position: fixed;
  top: 0;
  transform: none;
  transition: .5s;
  background: $header-bg-color;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
  z-index: 100;
}


// ------------ Media Queries --------------

@media (min-width: $media-screen-med) {
  .navigation {
    padding: 0 10%;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media (min-width: $media-screen-lg) {
  .navigation {
    padding: 0 20%;
  }
}
