// -------------------------------------
//                OVERLAY
// -------------------------------------


.skills {
  margin: 20px auto;
}

#overlay {
  visibility: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
  background: $overlay-bg-color;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}