// -------------------------------------
//                OVERLAY
// -------------------------------------

#overlay {
  visibility: visible;
  display: flex;
  flex-direction: column;
  position: fixed;
  color: $overlay-bg-color;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

