// -------------------------------------
//              SVGS
// -------------------------------------

.contact svg {
  height: 100px;
  margin-right: 20px;
  fill: $contact-svg-color;

  &:active {
    fill: $contact-svg-hover-color;
  }
}

.contact a:hover path {
  fill: $contact-svg-hover-color;
}

.contact svg circle {
  fill: $contact-circle-color;
}

.footer-contact-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer a {
  text-decoration: none;
}

.footer-svg {
  text-decoration: none;
  width: 50%;
  max-width: 75px;
  fill: $footer-svg-color;
  transition: transform 0.5s;
}

.footer-svg circle {
  fill: $footer-svg-bg-color;
}

.footer-svg:hover {
  transform: rotate(0.1turn) scale(1.1);
}

.footer-svg:active {
  transform: rotate(0.1turn);
}

.footer-contact {
  width: 50%;
  height: auto;
}