// -------------------------------------
//              SVGS
// -------------------------------------

.footer-contact-container {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-contact a {
  text-decoration: none;
}

.footer-contact {
  width: 25%;
  height: auto;
}