// -------------------------------------
//              TYPOGRAPHY
// -------------------------------------


h1 {
  font-family: $font-stack-header;
  font-size: $primary-hdln-size;
  line-height: $primary-hdln-line-height;
  color: $primary-hdln-color;
}

h2 {
  font-family: $font-stack-header;
  font-size: $secondary-hdln-size;
  line-height: $secondary-hdln-line-height;
  color: $secondary-hdln-color;
  margin: 60px 0 10px 0;
}

h3 {
  font-family: $font-stack;
  font-size: $tertiary-hdln-size;
  line-height: $tertiary-hdln-line-height;
  color: $tertiary-hdln-color;
  margin: 20px 0 0 0;
}

p,
li {
  font-family: $font-stack;
  font-weight: $font-weight-regular;
  font-size: $copy-size;
  line-height: $copy-size-line-height;
  color: $brown;
}


// ---------- Classes -----------

.job-dates {
  font-style: italic;
  font-size: $date-size;
  padding-top: 0;
  margin: 0;
}

.copyright {
  font-style: italic;
  font-size: $copyright-size;
  line-height: $copyright-line-height;
  color: $footer-text-color;
}

.form__input[placeholder] {
  font-family: $font-stack;
}

// --------- Extends ------------

.headline--primary {
  @extend %headline--primary;
}

.headline--secondary {
  @extend %headline--secondary;
}

.link {
  @extend %link;
}