// -------------------------------------
//                VISUALS
// -------------------------------------


// ------- Home Page Contact -------

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid $contact-border-color;
}

.contact a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.image-and-about-container {
  height: auto;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid $project-intro-border-color;
}


// ---------- Experience -----------

.card {
  background: $card-color;
  padding: 5px 20px;
  margin: 20px 0;
}


// ------------ Work ---------------

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project {
  display: block;
  text-decoration: none;
  padding: 0;
}

.project-title-description {
  width: 85%;
  height: auto;
  min-height: 100px;
  margin: 0 auto;
}

.project-intro {
  margin-bottom: 40px;
  border-bottom: 1px solid $project-intro-border-color;
}

.show {
  visibility: visible;
}

.hidden {
  display: none;
}


// ------- Media Queries -------------

@media (min-width: $media-screen-med) {
  .contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .contact {
    padding: 10px 40px;
  }
  .project-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .project-title-description {
    width: 90%;
  }
  .card {
    width: 49%;
  }
  .resume {
    width: 100%;
  }
}

@media (min-width: $media-screen-lg) {
  .card {
    width: 32%;
  }
  .resume {
    width: 100%;
  }
}