// -------------------------------------
//                VISUALS
// -------------------------------------


// ---------- Experience -----------
.card {
  background: $card-color;
  padding: 5px 20px;
  margin: 20px 0;
}


// ------------ Work ---------------

.project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.project {
  display: block;
  text-decoration: none;
  padding: 0;
}

.web-project-title-description {
  width: 85%;
  height: auto;
  min-height: 100px;
  margin: 0 auto;
}