// -------------------------------------
//                VISUALS
// -------------------------------------


// ---------- Experience -----------
.card {
  background: $card-color;
  padding: 5px 20px;
  margin: 20px 0;
}


// ------------ Work ---------------

.web-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.web-project {
  margin: 20px 0;
  height: 300px;
}

.web-project-description {
  width: 273px;
  height: auto;
  padding-top: 60px;
  margin: 0;
  background: $thistle;
  border: 30px solid $thistle;
  position: relative;
  top: 125px;
}

.web-project-title-description {

}