// -------------------------------------
//              BASE STYLES
// -------------------------------------


// ---------------- * ------------------
* {
  box-sizing: border-box;
}


// ------------- UL ELEMENTS -----------

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}


// ------------ P ELEMENTS -------------

p {
  font-weight: $font-weight-regular;
  font-size: em(18px);
  line-height: em(24px);
}