// -------------------------------------
//              BASE STYLES
// -------------------------------------


// ---------------- * ------------------
* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

header {
  width: 90%;
  margin: 40px auto 20px auto;
  text-align: center;
}

main {
  width: 80%;
  margin: 0 auto;
}

nav {
  width: 90%;
  margin: 0 auto;
}