// -------------------------------------
//              BASE STYLES
// -------------------------------------


// ---------------- * ------------------
* {
  box-sizing: border-box;
  margin: 0;
}

header {
  width: 100%;
  margin: 40px auto 20px auto;
  text-align: center;
}

main {
  width: 85%;
  margin: 0 auto;
}

nav {
  width: 100%;
  margin: 0;
}

section ul {
  padding-bottom: 15px;
}

footer {
  width: 85%;
  padding: 20px 10px 10px 10px;
  margin: 40px auto 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  border-top: 1px solid $footer-line-color;
}

// ---------- Media Queries -------------
@media (min-width: $media-screen-med) {
  header {
    margin-top: 60px;
  }
}