// -------------------------------------
//       HEADLINES PLACEHOLDERS
// -------------------------------------


%headline--primary {
  font-size: 2rem;
  font-weight: $font-weight-bold;
  margin: 40px;
  color: $primary-hdln-color;
}

%headline--secondary {
  font-size: 1.5rem;
  font-weight: $font-weight-regular;
  margin: 20px 0;
  color: $secondary-hdln-color;
}