// -------------------------------------
//           LINKS PLACEHOLDER
// -------------------------------------

%link {
  color: $link-color;
  font-weight: $font-weight-regular;
}

%button-link {
  text-decoration: none;
  color: $button-text-color;
}